PI_HOST=raspberrypi.local
PI_USER=pi
PI_PASSWORD=changeme
PI_SSH_KEY=~/.ssh/id_ed25519

WIFI_SSID=your_wifi_ssid
WIFI_PASSWORD=your_wifi_password
WIFI_COUNTRY=DE

# Path on the Pi where your media drive will be mounted
MEDIA_PATH=/mnt/media

# FileBrowser admin password
FB_PASSWORD=changeme12345

# Restic backups
BACKUP_PATH=/mnt/backup
RESTIC_PASSWORD=changeme
